<h1>Git Hub Search!</h1>

<ol>
  <li>First type your query in the search box for the repository.</li>
  <li>After searching, you can sort by stars by clicking it's table heading.</li>
  <li>You can also filter your search results by language using the input box above it's heading.</li>
</ol>

<p>Note: Hit "enter" after typing your query to apply the search or filter.</p>

<table id="searches" class='datatable' data-source="<%= searches_url(format: "json") %>">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>       
      </tr>   
      <tr>
        <th>Repo</th>
        <th>Language</th>
        <th>Stars</th>
      </tr>

    </thead>

    <tbody>

    </tbody>
</table>