<h1>Git Hub Search!</h1>



<table id="searches" class='datatable' data-source="<%= search_searches_path(format: "json") %>">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>       
      </tr>   
      <tr>
        <th>Repo</th>
        <th>Language</th>
        <th>Stars</th>
      </tr>

    </thead>

    <tbody>

    </tbody>
</table>